<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{recipe.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src={{recipe.imgUrl}}></ion-img>
    <ion-card-content>
      {{recipe.description}}
    </ion-card-content>
    <ion-button color="primary" expand="block" (click)="onClick()">Pedir esse bolo agora</ion-button>
  </ion-card>
</ion-content>
